APP_PORT= # loyiha ishga tushadigan port
MONGO_URL= # mongodbga ulanish stringi 
# mongodb://username:parol@host:port/dbname?authSource=username


# JWT
SECRET_KEY= # JWT kaliti
EXPIRE_TIME= # JWT eskirish vaqti, misol uchun '600' -> 10 minut


# EMAIL: otp, parolni tiklash
EMAIL= # xabarlar uchun email
PASS= # email paroli
SMTP_SERVER= # smtp server, misol: smtp.hostinger.com
SMTP_PORT= #smtp server porti, misol uchun: 465